@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    --color-grey100: #F3F6FF;
    --color-grey200: #EFF2FC;
    --color-grey300: #E2E5F1;  
    --color-grey400: #D4D7E5;
    --color-grey500: #B4B7C9;
    --color-grey600: #9397AD;
    --color-grey700: #565973;
    --color-grey800: #33354D;
    --color-grey900: #0B0F19;
    --color-primary: #6366F1;
    --color-error: #EF4444;
    --color-success: #22C55E;
    --color-warning: #FFBA08;
    --color-info: #4C82F7;
    --color-white: #FFFFFF;

    --container-padding: 1rem;
    --transition-time: all 0,2s;
}

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body, section, div, header, footer, main, aside, nav, blockquote, p, span {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;

}

html {
    color-scheme: light;
}

.dark {
    color-scheme: dark;

    --color-grey100: #0B0F19;
    --color-grey200: #33354D;
    --color-grey300: #565973;
    --color-grey400: #9397AD;
    --color-grey500: #B4B7C9;
    --color-grey600: #D4D7E5;
    --color-grey700: #E2E5F1;
    --color-grey800: #EFF2FC;
    --color-grey900: #F3F6FF;

    header {
        background-color: #222222;
    }

    background-color: var(--color-grey100);

}

.wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

    /* -----HEADER----- */

.container {
    width: 100%;
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
    margin-left: auto;
    margin-right: auto;
}
a {
    color: var(--color-primary);
    text-decoration: none;
}
a:hover{
    color: var(--color-primary);
    text-decoration: underline;
}
.dark {
    header {
        background-color: #1B1F29;
    }
}

    /* all kod för knappen är lånad från Hans Mattin-Lassei! */

.btn-primary {
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: 8px;
    padding: 12px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.btn-primary:hover{
    background-color: var(--color-grey600);
    color: var(--color-white);
    text-decoration: none;
}
.btn-primary i {
    margin-right: .5rem;
}
.btn-mobile {
    background-color: transparent;
    border: none;
    font-size: 2rem;
}
.btn-toggle-switch {
    display: flex;
    align-items: center;
    gap: 10px;
}
.btn-toggle-switch .label {
    display: none;
}
.toggle-switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25px;
}
.toggle-switch input {
    opacity: 0;
}
.toggle-switch input:checked + .slider {
    background-color: var(--color-primary);
}
.toggle-switch input:focus + .slider {
    box-shadow: 0 0 1px var(--color-primary)
}
.toggle-switch input:checked + .slider:before {
    transform: translateX(18px);
    background-color: var(--color-white);
}
.toggle-switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-grey600);
    transition: all 0.2s;
}
.toggle-switch .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 2.5px;
    background-color: var(--color-white);
    transition: all 0.2s;
}
.toggle-switch .slider.round {
    border-radius: 35px;
}
.toggle-switch .slider.round:before {
    border-radius: 50%;
}

    /* slut av lånad kod */

.navbar {
    display: none;
}
.nav-link {
    color: var(--color-grey800);
    font-weight: 600;
    text-decoration: none;
}
.nav-link:hover {
    color: var(--color-primary);
    text-decoration: underline;
}
.active {
    color: var(--color-primary);
    text-decoration: underline;
}
#auth-signin {
    display: none;
}
header .container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto auto;
    gap: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.dark {
    #logo {
        display: none;
    }
    #darkmode-logo {
        display: block;
    }
}

#darkmode-logo {
    display: none;
}
.btn-darkmode-store {
    display: none;
}

    /* -----PAGE 1----- */

    .page1 {
        background: rgb(99,102,241);
        background: linear-gradient(0deg, rgba(99,102,241,0.10127801120448177) 0%, rgba(218,70,239,0.05085784313725494) 42%, rgba(241,244,253,0.07046568627450978) 83%);
        padding-bottom: 2rem;

        .container {
            display: grid;
            gap: 2rem;
            grid-template-columns: 1fr;
            grid-template-areas: "headline" "content";

        }
        .headline {
            grid-area: headline;
            text-align: center;
            
            h1 {
                font-size: 40px;
                font-weight: 800px; 
                padding-left: 2rem;
                padding-right: 2rem;
            }
        }
        .content {
            grid-area: content;
            text-align: center;

            p {
                font-size: 18px;
                color: var(--color-grey700);
                margin-bottom: 2.5rem;
            }
            .buttons {
                display: flex;
                flex-direction: column;
                gap: 1.3rem;
            }
            .discovermore {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 2rem;
                gap: 1.5rem;
                color: var(--color-grey700);
            }
        }

        .images {
            position: relative;
            grid-area: images;
            display: none;

            .image-back {
                position: absolute;
                z-index: -10;
                bottom: 0;
                right: 100px;
                width: 70%;
                height: auto;
            }
            .image-front {
                position: absolute;
                z-index: -5;
                bottom: 0;
                right: 0;
                width: 70%;
                height: auto;
            }
        }
    }
    .btn-circle {
        height: 44px;
        width: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: 1px solid var(--color-grey200);
        background-color: var(--color-white);
        color: var(--color-grey800);
    }
    .btn-store {
        background-color: var(--color-grey900);
        border-radius: 10px;
        padding: 12px 25px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .btn-store:hover {
        background-color: var(--color-grey800);
    }

    .dark {
        .btn-store {
            display: none;
        }
        .btn-darkmode-store {
            background-color: var(--color-grey900);
            border-radius: 10px;
            padding: 12px 25px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .btn-circle {
            border: 1px solid var(--color-grey200);
            background-color: var(--color-grey200);
            color: var(--color-grey800); 
        }
    }

    /* -----BRAND BOX----- */

#brands {
    display: none;
    padding-top: 2rem;
    padding-bottom: 2rem;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
    }
}
.brand-box {
    border: 1px solid var(--color-grey300);
    border-radius: 8px;
    height: 100px;
    width: 196px;
    display: flex;
    justify-content: center;
    align-items: center;
}

    /* -----PAGE 2----- */

.page2 .container {
    
    h2 {
        font-size: 28px;
        text-align: center;
        font-weight: 800;
    }
    h3 {
        font-size: 22px;
        padding-left: 2rem;
        align-self: start;
        font-weight: 800;
    }
    p {
        font-size: 20px;
        color: var(--color-grey700);
        text-align: center;
        padding-bottom: 1rem;
    }
    .image {
        display: none;
    }
}
.container .box1, .box2, .box3, .box4, .box5, .box6 { 
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: .5fr .5fr;
    grid-template-areas: "img h3 h3 h3 h3" "img p p p p";

    p {
        font-size: 18px;
        color: var(--color-grey700);
        grid-area: p;
        text-align: left;
        padding-left: 2rem;
        padding-bottom: 1rem;
    }

    img {
        background-color: var(--color-grey100);
        padding: 1.3rem;
        border-radius: 8px;
        grid-area: img;
        margin-top: 1rem;
        
    }
}
.dark {
    .page2 .container {
        background-color: var(--color-grey100);
    }
    .container .box1, .box2, .box3, .box4, .box5, .box6 {
        img {
            background-color: #151822;
        }
    }
}

    /* -----PAGE 3----- */

    .page3 {
        background-color: var(--color-grey100);

        .container-desktop {
            display: none;
        }
        .text-desktop {
            display: none;
        }
        .container-mobile {
            display: block;
            text-align: center;

            #phone-left-mobile {
                display: none;
            }
            #phone-right-mobile {
                display: none;
            }
        }
        h2 {
            padding-top: 4rem;
            text-align: center;
            font-weight: 800;
        }
        h3 {
            font-weight: 800;
            font-size: 22px;
            text-align: center;
            padding-left: 10svh;
            padding-right: 10svh;
        }
        p {
            color: var(--color-grey700);
            text-align: center;
            padding-left: 2rem;
            padding-right: 2rem;
            padding-bottom: 3rem;
            font-size: 18px;
        }
    }

    .dark {
        .page3 {
            background-color: #1C2029;

            p {
                color: #585C7B;
            }
        }
    }

    /* -----PAGE 4----- */

    .page4 {
        display: none;
    }

    /* -----TESTIMONIAL----- */

    .testimonial {
        display: none;
    }

    /* -----PAGE 5----- */
    

    .active {
        text-decoration: none;
    }
    .page5 {
        .phone, .message {
            display: none;
        }
        .contact {
            display: flex;
            flex-direction: column;
            align-items: center;   
            padding-top: 2rem;
            padding-bottom: 2rem;

            h2 {
                text-align: center;
                font-size: 25px;
                font-weight: 800;
                width: 70%;
            }
            p {
                color: var(--color-grey800);
                text-align: center;
                width: 75%;
                font-size: 18px;
            }
        }

        .qna {
            width: 85%;
            margin-top: 1.5rem;
            justify-self: center;
            margin-bottom: 3rem;

            .faq-card {
                margin-bottom: 1rem;
                border: solid 1px var(--color-grey300);
                border-radius: 10px;
                padding-bottom: 1rem;

                .title {
                    display: flex;
                    flex-direction: row;
                    cursor: pointer;

                    h4 {
                        width: 75%;
                        margin-left: 1rem;
                        margin-bottom: 0;
                    }

                    .btn-circle {
                        background-color: var(--color-grey100);
                        color: var(--color-grey800);
                        margin-top: 1rem;
                        margin-left: 1rem;
                        cursor: pointer;
                        transition: color 300ms ease;
                    }
                    .btn-circle:hover {
                        background-color: var(--color-grey500);
                    }
                    .btn-circle.active {
                        background-color: var(--color-primary);
                        color: var(--color-white);

                        i {
                            transform: rotate(180deg);
                            transition: rotate 300ms;
                        }
                    }
                }

                .content {
                    max-height: 0;
                    overflow: hidden;
                    transition: max-height 500ms;

                    p {
                        margin: 1rem;
                        color: var(--color-grey700);
                    }
                }
                .content.active {
                    max-height: 500px;
                    transition: max-height 1s;
                }

            }
        }
        .contact-mobile {
            display: flex;
            justify-content: center;
            margin-bottom: 3rem;

            .btn-primary {
                background-color: var(--color-primary);
                color: var(--color-white);
                border-radius: 5px;                     
                align-items: center;
                text-decoration: none;
                width: 40%;
            }
            .btn-primary:hover{
                background-color: var(--color-grey600);
                color: var(--color-white);
                text-decoration: none;
            }
        }
    }

    .dark {
        .page5 {
            .contact {
                p {
                    color: #585C7B;
                }
            }
            .faq-card{
                background-color: #131022;
                border: solid 1px var(--color-grey200);

                .title {
                    .btn-circle {
                        background-color: #1F1C2D;
                        border: none;
                    }
                    .btn-circle:hover {
                        background-color: var(--color-grey300);
                    }
                }

            }

        }
    }

    /* -----NEWSLETTER----- */

    .newsletter {
        display: flex;
        flex-direction: column;
        margin-left: var(--container-padding);
        margin-right: var(--container-padding);
        background-color: var(--color-grey200);
        padding-top: 3rem;
        border-radius: .5rem;
        place-items: center;

        form {
            .notification {
                display: flex;
                flex-direction: row;
                padding-bottom: 1.5rem;
    
                .mobile-text {
                    color: var(--color-grey900);
                    font-size: 22px;
                    font-weight: 800;
                    width: 60%;
                    margin-left: 1rem;
                }
                .desktop-text {
                    display: none;
                }
            }
       
            .input-box {
                display: flex;
                position: relative;
                margin-bottom: 2.5rem;

                span {
                    position: absolute;
                    top: 80px;
                    left: 7px;
                    font-size: 14px;
                    color: var(--color-error);
                }
    
                .form-input {
                    border: 1px solid var(--color-grey400);
                    padding: .8rem;
                    font-size: 16px;
                    border-radius: .5rem 0 0 .5rem;
                    width: 90%;
                }
                .btn {
                    background-color: var(--color-primary);
                    color: var(--color-white);
                    padding: .5rem 2rem;
                    border: 0;
                    font-size: 16px;
                    border-radius: 0 .5rem .5rem 0;
                    cursor: pointer;
                }
                .btn:hover {
                    background-color: var(--color-grey600);
                }
                .email {
                    padding-left: 2.5rem;
                }
                .icon {
                    position: absolute;
                    top: 50%;
                    left: 1rem;
                    transform: translateY(-50%);
                    color: var(--color-grey600);
                }   
            }
        
        }
    }
    .wrapper {
        display: block;
        height: auto;
        background-color: var(--color-grey100);
        padding-bottom: 3rem;
        padding-top: 3rem;

        .infobox {
            background-color: var(--color-success);
            width: 70%;
            text-align: center;
            border-radius: 7px;
            place-self: center;
    
            h1 {
                color: var(--color-white);
                padding-top: 1rem;
            }
            .btn-success {
                background-color: var(--color-white);
                padding: .7rem;
                padding-left: 4rem;
                padding-right: 4rem;
                border-radius: 5px;
                border: none;
                color: var(--color-success);
                cursor: pointer;
                margin-bottom: 1rem;
            }
            .btn-success:hover {
                background-color: #105c2c;
            }
            
        }
    }
    .dark {
        .newsletter {
            background-color: #151822;
        }
        form {
            .input-box {
                .form-input {
                    background-color: var(--color-white);
                }
            }
        }
        .wrapper {
            background-color: #1C2029;
        }
    }

    /* -----FOOTER----- */

    footer {
        font-size: 14px;
        padding-top: 2rem;
        padding-bottom: 2rem;

        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        p {
            color: var(--color-grey600);
            text-align: center;
        }
        .copyright {
            padding: 0;
        }
    }
    .dark {
        footer {
            p {
                color: var(--color-grey400);
            }
        }
    }



    /* -----CONTACT PAGE 1----- */

    .contact-page1 {
        background-color: var(--color-grey100);

        #mobile {
            font-size: 38px;
            text-align: center;
            font-weight: 800;
            padding-bottom: 1rem;
            padding-top: 1rem;
        }
        .container {
            display: flex;
             flex-direction: column-reverse;

            h1 {
                display: none;
            }

            .email, .careers {
                background-color: var(--color-grey100);
                display: grid;
                grid-template-columns: 1fr 2fr;
                grid-template-rows: auto auto auto;
                grid-template-areas: "img h2" "p p" "message message";
                margin-bottom: 3rem;
                margin-right: 2rem;
                margin-left: 2rem;
                box-shadow: 1px 1px 4px 4px var(--color-grey300); 
                border-radius: 5px;
                padding-top: 1.5rem;
                padding-bottom: 1.5rem;


                img {
                    grid-area: img; 
                    place-self: center;
                }
                h2 {
                    grid-area: h2;
                    text-align: left;
                    font-weight: 800;
                }
                p {
                    grid-area: p;
                    margin-left: 2.5rem;
                    margin-top: .5rem;
                    
                }
                a {
                    grid-area: message;
                    margin-left: 2.5rem;
                    margin-top: 1rem;
                }
            }
        }
    }
    .consultation {
        background-color: var(--color-white);
        box-shadow: 1px 1px 4px 4px var(--color-grey200);
        border-radius: 8px;
        padding-top: 1.5rem; 
        margin-bottom: 3rem;
        
        
        h2 {
            font-size: 30px;
            font-weight: 800;
            padding-bottom: .5rem;
            margin-left: 2.3rem;
        }
        label {
            font-size: 16px;
            font-weight: 600;
            display: flex;
            flex-direction: column;
            padding-bottom: .3rem;
            margin-left: 2.3rem;
        }
        input {
            border: solid 1px var(--color-grey400);
            width: 85%;
            padding: 1rem;
            border-radius: 6px;
            margin-bottom: 2rem;
            display: flex;
            justify-self: center;
        }
        .btn {
            background-color: var(--color-primary);
            color: var(--color-white);
            border-radius: 4px;
            text-decoration: none;
            width: 85%;
            margin-left: 2rem;
            border: none;
            padding: 12px 5px;
            padding-top: .9rem;
            padding-bottom: .9rem;
            box-shadow: 1px 5px 10px 1px var(--color-grey400);
            margin-top: 2rem;
            margin-bottom: 4rem;
            cursor: pointer;
        }
        .btn:hover {
            background-color: var(--color-grey600);
        }
        span {
            color: var(--color-error);
            font-size: 13px;
            position: absolute;
            padding-left: 2rem;
        }
        .span0 {
            top: 430px;
        }
        .span1 {
            top: 537px;
        }
        .span2 {
            top: 645px;
        }
    }
    .wrapper0 {
        display: block;
        height: auto;
        padding-bottom: 4rem;
        padding-top: 5rem;
        right: 300px;

        .infobox {
            background-color: var(--color-success);
            width: 85%;
            text-align: center;
            padding-bottom: 3.5rem;
            padding-top: 2rem;
            border-radius: 7px;
            place-self: center;

            h1 {
                display: block;
                color: var(--color-white);
                margin: 0;
                padding-bottom: 1.5rem;
            }
            p {
                color: var(--color-white);
                font-size: 20px;
                justify-self: center;
                padding-bottom: 1.5rem;
                width: 85%;
            }
            .btn-success {
                background-color: var(--color-white);
                padding: 1rem;
                padding-left: 5rem;
                padding-right: 5rem;
                border-radius: 5px;
                border: none;
                color: var(--color-success);
                cursor: pointer;
            }
            .btn-success:hover {
                background-color: #105c2c;
            }
        }
    }
    .dark {
        .consultation {
            background-color: var(--color-grey100);
            box-shadow: none;

            .input-group {
                input {
                    background-color: var(--color-grey100);
                }
            }
            .btn {
                box-shadow: none;
            }
        }
        .contact-page1 {
            background: linear-gradient(0deg, rgba(99,102,241,0.10127801120448177) 0%, rgba(218,70,239,0.05085784313725494) 42%, rgba(241,244,253,0.07046568627450978) 83%);
            
            .boxes {
                .email, .careers {
                    box-shadow: 1px 1px 4px 4px var(--color-grey200); 

                    p {
                        color: var(--color-grey400);
                    }
                }
            }
        }
        
    }

    /* -----CONTACT PAGE 2----- */

    .contact-page2 {

        .container {
            justify-items: center;
            margin-top: 5rem;

            #map {
                width: 90%; 
                display: block;
                margin-left: auto;
                margin-right: auto;
            }

            .text {
                width: 100%;
    
                h2 {
                    font-size: 26px;
                    font-weight: 800;
                    text-align: center;
                }
    
                .map-pin, .phonecall, .time {
                    display: flex;
                    flex-direction: row;
                    margin-bottom: 1.2rem;
                    margin-left: 1.5rem;
                    margin-right: 1.5rem;
                    
                    img {
                        width: 35px;
                        padding-right: .4rem;
                        margin-right: .2rem;
                    }
    
                    p {
                       font-size: 16px;
                    }
    
                }
    
                #phonecall {
                    padding-right: .3rem;
                    padding-left: .2rem;
                    width: 30px;
                }
    
                .time {
                    display: grid;
                    grid-template-columns: 1fr 12fr;
                    grid-template-rows: auto auto;
                    grid-template-areas: "img text-1" "img text-2";
    
                    img {
                        grid-area: img;
                        width: 32px;
                        margin-left: .1rem;
                    }
    
                    #text-1 {
                        grid-area: text-1;
                        margin-bottom: .5rem;
                    }
    
                    #text-2 {
                        grid-area: text-2;
                        margin-bottom: 2rem;
                    }
                }
            
            }
        }
        .social-media {
            text-align: center;

            img {
                background-color: var(--color-grey200);
                padding: .8rem;
                border-radius: 8px;
                width: 50px;
                margin-right: .5rem;
            }
        }
    }
    .dark {
        .contact-page2 {
            .medical1, .medical2 {
                p {
                    color: var(--color-grey400);
                }
            }
            .social-media {
                img {
                    background-color: var(--color-grey500);
                }
            }
        }
    }
    


@media (min-width: 768px) {
    
    /* -----HEADER----- */

    .container {
        max-width: 720px;
    }
    .btn-toggle-switch .label {
        display: block;
    }
    header .container {
        gap: 3rem;
    }
    .dark {
        header {
            .container {
                .label {
                    color: var(--color-grey300);
                }
            }
        }
    }

    /* -----PAGE 1----- */

    .page1 {
        padding-bottom: 0;
        
        .container {
            grid-template-columns: 1fr 1fr;
            grid-template-areas: "headline headline" "content images";
        
            .discovermore {
                justify-content: flex-start;
                margin-bottom: 2rem;
            }
            .headline {
                padding-right: 3rem;
                padding-left: 3rem;
                
                h1 {
                    font-size: 44px;   
                }
            }    
        }

        .images {
            display: block;
        }
        .content {
            text-align: left;
        }

    }
    .dark {
        .page1 {
            .container {
                p {
                    color: #585C7B;
                }
            }
        }
    }

    /* -----BRAND BOX----- */

    #brands {
        display: block;
    }
    #brand-5, #brand-6 {
        display: none;
    }
    .dark {
        .brand-box {
            background-color: #131022;
        }
    }

    /* -----PAGE 2----- */
    
    .page2 .container {

        h2 {
            font-size: 34px;    
            padding-bottom: 0;
        }
        p {
            padding-bottom: 1.5rem;
        }
        .boxes {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        }
 
    }

    .container .box1, .box2, .box3, .box4, .box5, .box6 {

        p {
            padding-bottom: 0;
        }
    }

    /* -----PAGE 3----- */
    .page3 {
        .container-mobile {
            display: flex;
            flex-direction: row;
            justify-content: center;

            #phone-left-mobile {
                display: block;
                width: 260px;
            }
            #phone-right-mobile {
                display: block;
                width: 260px;
            }
        }
        h2 {
            font-size: 34px;
            padding-bottom: 2rem;
        }
        h3 {
            font-size: 24px;
        }
        p {
            padding-left: 12rem;
            padding-right: 12rem;
        }
    }

    /* -----PAGE 4----- */

    .page4 {
        display: none;
    }

    /* -----TESTIMONIAL----- */
    .testimonial {
        display: none;
    }

    /* -----PAGE 5----- */

    .page5 {
        .contact {
            h2 {
                width:33%;
            }
            p {
                width: 52%;
            }
        }

        .qna {
            .faq-card {
                box-shadow: -1px 1px 6px 2px var(--color-grey300);
                border-radius: 10px;
                margin-bottom: 1.5rem;
                padding-bottom: 0;

                .title {
                    border: none;


                    .btn-circle {
                        margin-left: 5rem;
                    }
                }
    
                .content {
                    border: none;
                    padding-bottom: 1rem;
                    color: var(--color-grey700);
                }
            }
        }
        .contact-mobile {
            display: none;
        }
        .contact-us {
            justify-content: center;
            display: flex;
            flex-direction: row;
            gap: 2rem;
            margin-bottom: 3rem;

            .phone {
                justify-content: left;
                padding-left: 1rem;
                padding-right: 8rem;
                display: flex;
                flex-direction: column;
                border: solid 1px var(--color-grey300);
                border-radius: 8px;

                #phonecall {
                    width: 35%;
                    height: 35%;
                    padding-top: 1.5rem;
                }
                p {
                    padding-top: 1rem;
                    color: var(--color-grey700);
                    width: 100%;  
                }
                #contact-us {
                    padding-top: 1rem;
                    color: var(--color-primary);
                    font-size: 16px;
                    font-weight: 600;
                }
            }
            .message {
                justify-content: left;
                padding-left: 1rem;
                padding-right: 8rem;
                display: flex;
                flex-direction: column;
                border: solid 1px var(--color-grey300);
                border-radius: 8px;

                #message {
                    width: 35%;
                    height: 35%;
                    padding-top: 1.5rem;
                }
                p {
                    padding-top: 1rem;
                    color: var(--color-grey700);
                    width: 100%;
                }
                #contact-us {
                    padding-top: 1rem;
                    color: var(--color-success);
                    font-size: 16px;
                    font-weight: 600;
                }
            }   
        }
    }
    .dark {
        .page5 {
            .faq-card {
                box-shadow: none;
                background-color: #151822;
                border: none;

                .title {
                    .btn-circle {
                        background-color: #272b38;
                    }
                }
            }

            
            .contact-us {
                p {
                    color: var(--color-grey300);
                }
            }
        }
        
    }

    /* -----NEWSLETTER----- */

    .newsletter {
        margin-left: 2rem;
        margin-right: 2rem;

        form {
            display: flex;
            flex-direction: row;
            .notification {
                margin-left: 2rem;
                padding-bottom: 3rem;
    
                .mobile-text {
                    width: 60%;
                }
            }
            .input-box {
                margin-right: 1.5rem;
                height: 50%;
                padding-top: 2rem;
                width: 60%;

                i {
                    padding-top: 2rem;
                }
            }
        }
    }
    .wrapper {
        padding: 2rem;
        .infobox {
            width: 55%;
            padding-top: .5rem;
            padding-bottom: 2rem;

            h1 {
                margin-bottom: 2rem;
            }
            .btn-success {
                padding: 1rem;
                padding-left: 5rem;
                padding-right: 5rem;
            }
        }
    }

    /* -----FOOTER----- */

    footer {
        .container {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
        .copyright {
            margin: 0;
        }
        .credit {
            margin-left: .3rem;
        }
    }



    /* -----CONTACT PAGE 1----- */

    .contact-page1 {
        
        #mobile {
            font-size: 42px;
        }

        .boxes {
            display: flex;
            flex-direction: row;

            .email, .careers {
                width: 45%;
    
                p {
                    width: 90%;
                    margin-left: 1.5rem;
                }
                img {
                    margin-left: 1rem;
                }
                h2 {
                    margin-left: .5rem;
                }
            }
        }


    }
    .consultation {
        margin-right: 5rem;
        margin-left: 5rem;

        h2 {
            margin-top: 2rem;
            margin-bottom: 3rem;
            font-size: 34px;
            text-align: center;
            margin-left: 0;
        }
        .btn {
            margin-top: 4rem;
        }
        span {
            position: absolute;
            padding-left: 2.5rem;
        }
        .span0 {
            top: 480px;
        }
        .span1 {
            top: 587px;
        }
        .span2 {
            top: 695px;
        }
    }

    /* -----CONTACT PAGE 2----- */

    .contact-page2 {
        .text {
            display: flex;
            flex-direction: row;

            .medical1, .medical2 {
                width: 55%;
                margin-top: 1rem;
                margin-bottom: .5rem;

                #phonecall {
                    width: 10%;
                }

                .time {
                    p {
                        margin-left: 1rem;
                    }
                    #time {
                        width: 120%;
                    }
                }
                
            }
            .medical1 {
                #map-pin {
                    width: 15%;
                }
            }
            .medical2 {
                #map-pin {
                    width: 12%;
                }
            }
        }
        .social-media {
            img {
                width: 50px;
            }
        }
    }
}





@media (min-width: 1400px) {

/* -----HEADER----- */

.container {
    max-width: 1320px;
}
.btn-toggle-switch .label {
    display: block;
}
header .container {
    grid-template-columns: auto 1fr auto auto;
    gap: 3rem;
}
.navbar {
    display: block;
}
#auth-signin {
    display: block;
}
.btn-mobile {
    display: none;
}
.nav-link {
    margin-right: 1rem;
}

/* -----PAGE 1----- */

.page1 {
    .container {
        grid-template-columns: 2fr 3fr;
        grid-template-areas: "headline images" "content images";

        .buttons {
            flex-direction: row;
        }

        .discovermore {
            margin-top: 10rem;
            margin-bottom: 4rem;
        }

        .headline {
            text-align: left;
            padding-left: 0;
            padding-right: 0;

            h1 {
                padding-left: 0;
                padding-right: 0;
                font-size: 56px;
            }
        }

        .images {

            .image-back {
                height: 550px;
                width: auto;
                left: 11rem;
            }

            .image-front {
                height: 650px;
                width: auto;
            }
        }
    }
}
.dark {
    .page1 {
        .container {
            p {
                color: var(--color-white);
            }
        }
    }
}

    /* -----BRAND-BOX----- */

    #brand-5, #brand-6 {
        display: flex;
        align-items: left;
    }
    .dark {
        .brand-box {
            background-color: transparent;
        }
    }


    /* -----PAGE 2-----*/

    .page2 .container {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 1fr 2fr;
        grid-template-areas: "iphone text" "iphone content";

        .image {
            grid-area: iphone;
            display: block;
            padding-top: 4rem;
            padding-right: 6rem;
            padding-bottom: 4rem;
        }
        .boxes {
            grid-area: content;
            padding-bottom: 5rem;
        }
        h2 {
            grid-area: text;
            text-align: left;
            padding-top: 4rem;
        }
        p {
            grid-area: text;
            text-align: left;
            padding-top: 10rem;
        }

    }
    .container .box1, .box2, .box3, .box4, .box5, .box6 {
        
        grid-template-areas: "img h3" "img p";

        img {
            grid-area: img;
        }
        h3 {
            grid-area: h3;
            padding: 0;
            padding-left: 1.5rem;
        
            margin-top: 2rem;
        }
        p {
            grid-area: p;
            padding: 0;
            padding-left: 1.5rem;
        }
    }

    .dark {
        .page2 .container {
            p {
                color: #85878C;
            }
        }
    }

    /* -----PAGE 3----- */
    .page3 {
        
        .container-mobile {
        display: none;
        }
        .container-desktop {
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding-bottom: 1.5rem;

            #phone-middle {
                padding-left: 6rem;
                padding-right: 6rem;
            }
        }
        .text-tablet {
            display: none;
        }
        .text-desktop {
            display: block;
            padding-bottom: 3rem;

            p {
                padding-left: 38rem;
                padding-right: 38rem;
            }
        }
    }
    .dark {
        .page3 {
            .text-desktop {
                p {
                    color: var(--color-white);
                }
            }
        }
    }


    /* -----PAGE 4----- */

    .page4 {
        display: block;

        .btn-primary {
            background-color: var(--color-primary);
            color: var(--color-white);
            border-radius: 8px;
            padding: 12px 5px;                      
            align-items: center;
            text-decoration: none;
            gap: 1rem;
            margin-top: 2.5rem;
            width: 30%;
        }
        .btn-primary:hover{
            background-color: var(--color-grey600);
            color: var(--color-white);
            text-decoration: none;
        }
        .upper-container {
            display: flex;
            justify-content: center;
            padding-top: 8rem;
            
            .text {
                align-self: center;
                width: 30%;
              
                h2 {
                    font-size: 32px;
                    font-weight: 800;
                    width: 70%;   
                }
                li {
                    color: var(--color-grey700);
                    list-style-image: url("images/check.svg");
                    padding-top: 1rem;
                    justify-content: center;
                    font-size: 18px;
                }

            }
        }
        .lower-container {
            display: flex;
            padding-top: 4rem;
            justify-content: center;
            column-gap: 5rem;
            padding-bottom: 7rem;

            .text {
                width: 30%;

                h2 {
                    font-size: 32px;
                    font-weight: 800;
                    width: 75%;
                }
                .boxes {
                    display: flex;
                    flex-direction: row;
                    gap: 1rem;
    
                    .box-1, .box-2 {
                        display: grid;
        
                        p {
                            font-size: 18px;
                            color: var(--color-grey700);
                            text-align: left;
                            padding-left: .2rem;
                            padding-bottom: 1rem;
                            padding-top: 1rem;
    
                        }
                        img {
                            background-color: var(--color-grey100);
                            padding: 1.3rem;
                            border-radius: 8px;
                            margin-top: 1rem;
                        }
                    }
                }
            }
        }
    }
    .dark {
        .page4 {
            .upper-container {
                li {
                    color: #85878C;
                }
            }
            .lower-container {
                .text {
                    .boxes {
                        p {
                            color: #85878C;
                        }
                        img {
                            background-color: #151822;
                        }
                    }
                }
            }
        }
    }


    /* -----TESTIMONIAL----- */

    .testimonial {
        display: grid;
        grid-template-columns: 1.3fr 2fr;
        grid-template-areas: "text images";

        background-color: var(--color-grey100);

        h2 {
            font-size: 36px;
            font-weight: 800;
            grid-area: text;
            padding-right: 2rem;
            padding-left: 310px;
            padding-top: 40px;
            width: 87%;
        }
        /* .images {
        grid-area: images;
        padding-top: 60px;
        padding-bottom: 80px;
        }
        #darkmode-testimonial1, #darkmode-testimonial2 {
            display: none;
        } */

        .testimonials {
            grid-area: images;
            display: flex;
            flex-direction: row;
            

            .testimonial-card {
                position: relative;
                background-color: var(--color-white);
                width: 38%;
                border-radius: 8px;
                box-shadow: -1px 1px 6px 2px var(--color-grey300);
                margin: 1rem;
                padding: 2rem;
                padding-bottom: 0;
                margin-top: 5rem;
                margin-bottom: 6rem;

                .quotes {
                    position: absolute;
                    top: -20px;
                    left: 20px;
                    
                }

                .star-rating {

                    i {
                        color: var(--color-warning);
                        margin-right: .2rem;
                        margin-top: .7rem;
                    }
                }

                .comment {
                    p {
                        color: var(--color-grey700);
                        margin-top: 1rem;
                        font-size: 17px;
                    }
                }

                .card-bottom {
                    display: grid;
                    grid-template-columns: 1fr 5fr;
                    grid-template-rows: 1fr 1fr;
                    grid-template-areas: "avatar author" "avatar job";
                    margin-bottom: 2rem;
                }
                .avatar {
                    grid-area: avatar;
                    padding-top: 1rem;
                }
                .author {
                    grid-area: author;
                    margin-top:1rem;
                    p {
                        font-weight: 700;
                    }
                }
                .job-role {
                    grid-area: job;
                    margin-top: .2rem;
                    p {
                        color: var(--color-grey600);
                    }
                }
            }
        }

    }
    .dark {
        .testimonial {
            background-color: #1C2029;

            .testimonial-card {
                background-color: #2b303a;
                box-shadow: none;

                .job-role {
                    p {
                        color: var(--color-grey500);
                    }
                }
                .comment {
                    p {
                        color: var(--color-grey500);
                    }
                }
            }
        }
    }

    /* -----PAGE 5----- */

    .page5 {
        .faq {

            display: grid;
            grid-template-columns: 2fr 3fr;
            grid-template-rows: 1fr 1fr;
            grid-template-areas: "contact questions" "contact-us questions";

            .contact {
                margin-top: 3rem;
                grid-area: contact;

                h2 {
                    font-size: 32px;
                    width: 45%;
                    text-align: left;
                }
                p {
                    text-align: left;
                    width: 55%;
                    margin-left: 5rem;
                }
            }
            .contact-us {
                grid-area: contact-us;
                align-self: center;
                margin-left: 12rem;

                .phone {
                    padding-right: 5rem;
                    padding-bottom: 2rem;
                    margin-bottom: 5rem;

                    #phonecall {
                        width: 33%;
                        height: 33%;
                    }
                    p {
                        padding-top: 2rem;
                    }
                    #contact-us {
                        padding-top: 1rem;
                    }
                }
                .message {
                    padding-right: 5rem;
                    padding-bottom: 2rem;
                    margin-bottom: 5rem;

                    #message {
                        width: 33%;
                        height: 33%;
                    }
                    p {
                        padding-top: 2rem;
                    }
                    #contact-us {
                        padding-top: 1rem;
                    }
                }
            }

            .qna {
                grid-area: questions;
                width: 70%;
                margin-top: 6rem;
                margin-bottom: 6rem;

            }
        }
    }
    .dark {
        .faq {
            .contact {
                p {
                    color: var(--color-white);
                }
            }
            .contact-us {
                p {
                    color: var(--color-white);
                }
            }
            #question1, #question2, #question4, #question5, #question6, .text3 {
                background-color: #151822;

                .btn-circle {
                    background-color: transparent;
                }
            }
            question3 {
                background-color: #151822;
            }
        }
    }


    /* -----NEWSLETTER----- */

    .newsletter {
        margin-right: 23rem;
        margin-left: 23rem;
        gap: 1rem;
        
        form {
            .notification {
                padding-left: 5rem;
    
                .mobile-text {
                    display: none;
                }
                .desktop-text {
                    padding-left: 1rem;
                    display: block;
                    font-size: 20px;
                    font-weight: 800;;
                }
            }
            .input-box {
                padding-right: 4rem;
            }
        }
    }
    .wrapper {
        .infobox {
            width: 30%;
        }
    }
    .dark {
        form {
            .input-box .form-input {
                background-color: #151822;
            }
        }
    }



    /* -----CONTACT PAGE 1----- */
    
    .contact-page1 {
        background-color: var(--color-grey100);
       
        .navbar {
            padding-top: 2.5rem;
            display: flex;
            font-size: 14px;
            gap: .5rem;
            .nav-link-hp {
                color: var(--color-grey600);
                margin-right: 1rem;
            }
            .nav-link-c {
                margin-left: 1rem;
            }
            i {
                color: var(--color-grey600);
                padding-top: 3px;
            }
        }

        #cont {
            padding-bottom: 2rem;
            margin-top: 1rem;
        }

        #mobile {
            display: none;
        }
        .container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto 1fr 1fr;
            grid-template-areas: "contact consultation" "boxes consultation" "boxes consultation";

            h1 {
                grid-area: contact;
                font-size: 42px;
                font-weight: 800;
                margin-bottom: 3rem;
                display: block;
            }
            .boxes {
                grid-area: boxes;
                display: block;
                padding-bottom: 1.5rem;
                padding-top: 1.5rem;

                .email, .careers {
                    box-shadow: none;
                    display: grid;
                    grid-template-columns: auto 4fr;
                    grid-template-columns: auto auto auto;
                    grid-template-areas: "img h2" "img p" "img message";
                    width: 100%;
                    padding: 0;
                    margin: 0;

                    img {
                        grid-area: img;
                        margin: 0;
                        padding: 0;
                        margin-right: 1.5rem;
                        padding: .3rem;
                        padding-bottom: 8rem;
                    }
                    h2 {
                        grid-area: h2;
                        margin: 0;
                        padding: 0;
                        margin-top: .5rem;
                        margin-bottom: 1rem;
                    }
                    p {
                        grid-area: p;
                        margin: 0;
                        padding: 0;
                        width: 60%;
                    }
                    #message {
                        grid-area: message;
                        margin: 0;
                        padding: 0;
                        margin-top: 1.5rem;
                        margin-bottom: 1rem;
                        
                        i {
                            padding-left: 1rem;
                            margin-bottom: 2.5rem;
                        }
                    }
                }
            }

            .consultation {
                grid-area: consultation;
                padding-left: 5rem;
                padding-right: 5rem;
                padding-top: 3rem;
                background-color: var(--color-white);
                border-radius: 10px;
                box-shadow: 1px 1px 4px 4px var(--color-grey200);
                position: absolute;
                justify-self: right;
                margin: 0;
                margin-top: 3rem;
                
                h2 {
                    font-size: 34px;
                    font-weight: 800;
                    margin-top: 1rem;
                    margin-bottom: 2.5rem;
                    text-align: left;
                    margin-left: 0;
                    padding-bottom: 0;
                }

                label {
                    font-size: 16px;
                    font-weight: 600;
                    display: flex;
                    flex-direction: column;
                    padding-bottom: .3rem;
                    margin-left: 0;
                }

                .btn {

                    background-color: var(--color-primary);
                    color: var(--color-white);
                    border-radius: 8px;
                    padding: 12px 5px;                      
                    align-items: center;
                    text-decoration: none;
                    gap: 1rem;
                    margin-top: 2.5rem;
                    width: 100%;
                    border: none;
                    font-size: 14px;
                    padding-top: 1rem;
                    padding-bottom: 1rem;
                    box-shadow: 1px 5px 10px 1px var(--color-grey400);
                    margin-top: 8rem;
                    margin-bottom: 5rem;
                    cursor: pointer;
                    margin-left: 0;
                }
                .btn:hover {
                    background-color: var(--color-grey600);
                }

                input {
                    border: solid 1px var(--color-grey400);
                    width: 100%;
                    padding: 1rem;
                    border-radius: 6px;
                    margin-bottom: 1.5rem;
                }

                span {
                    color: var(--color-error);
                    font-size: 14px;
                    position: absolute;
                    left: 85px;
                    padding: 0;
                }
                .span0 {
                    top: 225px;
                }
                .span1 {
                    top: 325px;
                }
                .span2 {
                    top: 425px;
                }
            }
        }
    }
    .wrapper0 {
        display: block;
        height: auto;
        padding-bottom: 4rem;
        padding-top: 5rem;
        position: absolute;
        right: 300px;

        .infobox {
            background-color: var(--color-success);
            width: 85%;
            text-align: center;
            padding-bottom: 3.5rem;
            padding-top: 2rem;
            border-radius: 7px;
            place-self: center;

            h1 {
                color: var(--color-white);
                margin: 0;
                padding-bottom: 1.5rem;
            }
            p {
                color: var(--color-white);
                font-size: 20px;
                justify-self: center;
                padding-bottom: 1.5rem;
                width: 85%;
            }
            .btn-success {
                background-color: var(--color-white);
                padding: 1rem;
                padding-left: 5rem;
                padding-right: 5rem;
                border-radius: 5px;
                border: none;
                color: var(--color-success);
                cursor: pointer;
            }
            .btn-success:hover {
                background-color: #105c2c;
            }
        }
    }
    .dark {
        .contact-page1 {
            .container {
                .consultation {
                    background-color: var(--color-grey100);
        
                    .input-group {
                        input {
                            background-color: var(--color-grey100);
                        }
                    }
                    .btn {
                        box-shadow: none;
                    }
                }
                .nav-link-hp {
                    color: var(--color-grey400);
                }
                .email, .careers {
                    background-color: transparent;
                }
            }
        }
    }
    

    /* -----CONTACT PAGE 2----- */

    .contact-page2 {

        .container {
            margin-top: 12rem;
            display: flex;
            flex-direction: row;
            gap: 10rem;


            #map {
                width: 100%;
            }
        }

        .text {
            width: 100%;
            display: block;

            .medical1, .medical2 {
                width: 100%;

                h2 {
                    font-size: 26px;
                    font-weight: 800;
                    text-align: left;
                    margin-left: 2rem;
                    margin-bottom: 2rem;
                }

                #map-pin {
                    width: 8%;
                }
                #phonecall {
                    width: 7%;
                }
    
                .time {
                    display: grid;
                    grid-template-columns: 1fr 12fr;
                    grid-template-rows: auto auto;
                    grid-template-areas: "img text-1" "img text-2";

                    #time {
                        width: 95%;
                    }
    
                    img {
                        grid-area: img;
                    }
    
                    #text-1 {
                        grid-area: text-1;
                        margin-bottom: .5rem;
                    }
    
                    #text-2 {
                        grid-area: text-2;
                        margin-bottom: 2rem;
                    }
                }
            }
        }
        .social-media {
            text-align: center;
            margin-left: 650px;
            margin-bottom: 5rem;
            

            img {
                background-color: var(--color-grey200);
                padding: .8rem;
                border-radius: 8px;
                width: 50px;
                margin-right: 1rem;
            }
        }
    }
}

